.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

/* .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
} */

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.header {
	z-index: 400;
	position: fixed;
}
.updateForm {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.postImage img {
	width: 100%;
	height: 90%;
	padding: 10px;
	justify-content: center;
}

.postImage {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid black;
	flex-direction: column;
	margin: 100px;
	align-items: center;
	margin-left: 20%;
	background-color: #fff;
	box-shadow: 2px 2px 2px 9px rgba(56, 56, 58, 0.2);
}

.postImage li {
	margin: 20px;
}

.postImage button {
	height: 40px;
}
.hide {
	display: none;
}
.likeBox {
	display: flex;
	flex-direction: row;
	margin-top: 5%;
	padding: 10px;
	justify-content: space-around;
}
.like {
	cursor: pointer;
	padding: 5px;
}

.editDelete {
	width: 100px;
	margin-top: 5%;
}
.editDelete p {
	padding: 10px;
	cursor: pointer;
}

.interactions {
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 100px;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.caption {
	font-size: 30px;
	margin-top: 0px;
	margin-left: -0%;
	width: 100%;
	border-width: 5px;
	border-style: double;
	
}

.comments {
	font-size: 30px;
	margin-left: -0%;
	margin-top: -9%;
	width: 100%;
	border-width: 5px;
	border-style: double;
}

.EditButtonClicked {
	position: absolute;
	width: 80%;
	margin-top: -70%;
	margin-left: -50%;
}
.storyContainer {
	display: flex;
	width: 100%;
	flex-direction: row;
	position: absolute;
	margin-top: 5%;
	justify-content: space-evenly;
	background-color: rgb(235, 225, 225);
	height: 130px;
}
.story {
	display: flex;
	flex-direction: column;
	font-size: 15px;
	padding: 15px;
}

.story p {
	padding: 10px;
}
.story img {
	width: 75px;
	height: 75px;
	padding: 0px;
	border-radius: 50%;
	box-shadow: 2px 2px 0px 2px rgba(56, 56, 58, 0.8);
}
.adding {
	font-size: 40px;
}
ul {
	margin-top: 20%;
}
body {
	font-family: "Iceland", Helvetica;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.b-example-divider {
	height: 3rem;
	background-color: rgba(0, 0, 0, 0.1);
	border: solid rgba(0, 0, 0, 0.15);
	border-width: 1px 0;
	box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
		inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -0.125em;
	fill: currentColor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
	text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(
		to right,
		rgba(211, 211, 211, 0.491),
		rgba(rgb(215, 215, 215))
	);
}

.cover-container {
	max-width: 42em;
}

/*
   * Header
   */

/* .nav {
	position: fixed;
	margin-left: 40%;
}
.nav a {
	padding: 20px;
	margin: 20px;
} */

nav p {
	cursor: pointer;
}

footer a {
	cursor: pointer;
}

.nav-masthead {
	margin-left: -20px;
}
.nav-masthead .nav-link {
	color: black;
	border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
	margin-left: 1rem;
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #fff;
}

.card {
	height: 60px;
	width: 220px;
	background: rgb(225, 225, 225);

	padding: 10px;
	border-radius: 5px;
	overflow: hidden;
	display: grid;
	place-items: center;
	position: relative;
}

.text {
	margin-top: 0.5em;
	text-align: center;
	transition: 2s ease;
	transform: translateY(150px);
	opacity: 0;
	position: absolute;
	z-index: 3;
}

.card:hover .text {
	transform: translateY(-10px);
	opacity: 1;
	position: absolute;
	font-size: larger;
}

.card::before {
	content: "";
	width: 60px;
	height: 300px;
	left: 10px;
	top: -120px;
	position: relative;
	background: linear-gradient(black, rgb(184, 184, 184));
	animation: animate 7s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.card::after {
	content: "";
	position: absolute;
	background: rgb(225, 225, 225);
	inset: 3px;
	border-radius: 5px;
}

.footer-column {
	width: 100%;
	float: left;
  } 

  .footer-column1 {
	width: 100%;
	float: left;
  } 

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
